*{
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;

    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

img{
    display: block;
}

#i1, #i2{
    position: absolute;
    z-index: 0;
}

#i1{
    top: -32rem;
    left: -12rem;
}

#i2{
    bottom: -35rem;
    right: -12rem;
}

.card{
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: hsl(225, 10%, 92%);
    border-radius: 1rem;

    height: 20rem;
    width: 18rem;

    z-index: 1;
}

.bg{
    overflow: hidden;
    flex-basis: 35%;
}

#i3{
    width: 100%;
    height: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 65%;
}

#i4{
    border: 0.25rem solid hsl(225, 10%, 92%);
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1/1;
    margin-top: -3.75rem;
}

.age{
    color: hsl(229, 23%, 23%);
    font-size: 1.25rem;
}

span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 1.15rem;
}

.place{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: -1rem;
}

hr{
    display: block;
    border: 0.05rem solid hsla(227, 10%, 46%, 0.25);
    align-self: stretch;
    padding: 0;
    margin: 0 -1rem;
}

.stats{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.d{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 0.65rem;
    letter-spacing: 0.025rem;
}